// base
@import "./base/common";
@import "./base/container";

//utils
@import "./utils/variables";
@import "./utils/visually-hidden";

//components
@import "./components/components";
@import "./components/subtitle";
@import "./components/logo";
@import "./components/button";
@import "./components/social-links";
@import "./components/slogan";

//layot
@import "./layout/header";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/adout";
@import "./layout/workers";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio-buttons";
@import "./layout/portfolio-cards";
@import "./layout/overlay";
@import "./layout/modal";
@import "./layout/modal-form-footer";

