.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer > .container{
    display: flex;
    align-items: baseline;
  }
  
  .footer-adress__container{
    margin-right: 84px;
  }
  
  .footer__social-links{
    margin-right: 93px;
  }
  
  .footer-contact__address{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  
    display: block;
    margin-bottom: 9px;
    margin-top: 20px;
  }
  
  .footer-contact__email{
    display: block;
    margin-bottom: 9px;
  }
  
  .footer-contact__phone,
  .footer-contact__email{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  
  
  .social-links-list__link--footer{
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      background-color: #2196F3;
    }
  }
  
  
  