.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:  #ececec;;
  }

  .header>.container,
  .navigation,
  .navigation__menu{
    display: flex;
    align-items: center;
  }

  .header .logo{
    margin-right: 93px;
  }

  .header .contact{
    margin-left: auto;
    display: flex;
    align-items: center;
    
  }
  .header .contact__email{
    margin-right: 30px;
  }

.navigation__item:not(:last-child){
  margin-right: 50px;
}

.navigation__link{
 font-size: 14px;
 font-weight: 500;
 line-height: 1.14;
 letter-spacing: 0.02em;
 text-align: left;
 color: var(--accent-color);
 text-decoration: none;

 position: relative;
 padding-bottom: 32px;
 padding-top: 32px;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &:hover,
 &:focus{
  color:  #2196F3;}
 }

.contact__phone,
.contact__email{
 font-style: normal;
 font-family: var(--main-font);
 font-size: 14px;
 font-weight: 500;
 line-height: 1.14;
 letter-spacing: 0.02em;
 text-align: left;
 color: var(--secondary-color);
 text-decoration: none;

 display: flex;
 align-items: center;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__email:hover,
.contact__phone:hover,
.contact__email:focus,
.contact__phone:focus{
color:  #2196F3;
}

.contact__icon{
  margin-right: 10px;
  fill: currentColor;
}

.is-current::after{
  display: inline-block;
  content: "";
  background: #2196F3;
  border-radius: 2px;
  height: 4px;
  width: 100%;

  position: absolute;
  bottom: -1px;
  left: 0;
}



