.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      ), 
    url(../imagens/hero/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

.title{
   font-family:var(--main-font);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #FFFFFF;

   margin-right: auto;
   margin-left: auto;
   width: 696px;
   margin-bottom: 30px;
  } 

.button--hero{
   margin: 0 auto;
  }