/*===========МОДАЛЬНОЕ ОКНО ФУТЕР=========*/
  
  .form__input{
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding:15px 16px;
    background-color: #2F303A;
    color: #FFFFFF;

    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
  
  .button--footer{
    align-items: center; 
    text-align: center;
    padding: 10px 29px;
    display: inline-flex;
    margin-left: -5px;
  }

  .button__text--subscribe{
    margin-right: 10px;
  }