.logo{   
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
  }
  
  .logo--black{
    color: #000000;
  }

  .logo--white{
      color:#FFFFFF;
  }