.social-links-list{
    display: flex;
    justify-content: center;
  }
  
.social-links-list__item:not(:last-child){
    margin-right: 10px;
  }
  
.social-links-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: #afb1b8;
    border-radius: 50%;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color:#FFFFFF;
    background-color: #2196F3;
  }
  }
  
.social-links-list__icon{
    fill: currentColor;
  }